{
  "openapi": "3.1.0",
  "info": {
    "title": "Bouncr HTTP API",
    "version": "1.0.0",
    "description": "Create venue-scoped document scans and retrieve verification results."
  },
  "servers": [
    {
      "url": "https://api.bouncr.io",
      "description": "Bouncr API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Scans",
      "description": "Document capture and verification scans."
    }
  ],
  "paths": {
    "/v1/scans": {
      "post": {
        "operationId": "create_scan",
        "summary": "Create a scan",
        "description": "Create a scan using the venue\u2019s document policy. Include scans:update to receive SDK initialization data in the same response.\n\nRequired scope: `scans:create`.",
        "tags": [
          "Scans"
        ],
        "responses": {
          "201": {
            "description": "Create a scan successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedScan"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or expired bearer credential. Empty response body."
          },
          "403": {
            "description": "Required scope, venue access, or scan admission is unavailable. Empty response body."
          },
          "404": {
            "description": "Resource unavailable to this credential. Empty response body."
          },
          "422": {
            "description": "Invalid or missing request field. Empty response body."
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Create a scan"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "venue_id": {
                    "$ref": "#/components/schemas/ScanId"
                  },
                  "country": {
                    "type": "string",
                    "pattern": "^[A-Z]{2}$",
                    "description": "Optional ISO alpha-2 issuing country. Omit to select through the SDK.",
                    "example": "US"
                  },
                  "document_type": {
                    "$ref": "#/components/schemas/DocumentType"
                  }
                },
                "required": [
                  "venue_id"
                ]
              }
            }
          }
        }
      },
      "get": {
        "operationId": "list_scans",
        "summary": "List scans",
        "description": "List accessible scans from newest to oldest. Follow `pagination.after` for the next page or `pagination.before` for the previous page. A null cursor marks the end.\n\nRequired scope: `scans:read`.",
        "tags": [
          "Scans"
        ],
        "responses": {
          "200": {
            "description": "List scans successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ScanSummary"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "before": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "after": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "before",
                        "after"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "pagination"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or expired bearer credential. Empty response body."
          },
          "403": {
            "description": "Required scope, venue access, or scan admission is unavailable. Empty response body."
          },
          "404": {
            "description": "Resource unavailable to this credential. Empty response body."
          },
          "422": {
            "description": "Invalid or missing request field. Empty response body."
          }
        },
        "x-mint": {
          "metadata": {
            "title": "List scans"
          }
        },
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Opaque next-page cursor returned in pagination. Supply only one cursor."
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Opaque previous-page cursor returned in pagination. Supply only one cursor."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ]
      }
    },
    "/v1/scans/{scan_id}": {
      "get": {
        "operationId": "get_scan",
        "summary": "Retrieve a scan",
        "description": "Retrieve progress and available results. Verification and check details depend on the corresponding checks on the scan. Pending results are omitted.\n\nRequired scope: `scans:read`.",
        "tags": [
          "Scans"
        ],
        "responses": {
          "200": {
            "description": "Scan and available results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Scan"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or expired bearer credential. Empty response body."
          },
          "403": {
            "description": "Required scope, venue access, or scan admission is unavailable. Empty response body."
          },
          "404": {
            "description": "Resource unavailable to this credential. Empty response body."
          },
          "422": {
            "description": "Invalid or missing request field. Empty response body."
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Retrieve a scan"
          }
        },
        "parameters": [
          {
            "name": "scan_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ScanId"
            },
            "description": "ID of the scan your backend created."
          }
        ]
      }
    },
    "/v1/scans/{scan_id}/tokens": {
      "post": {
        "operationId": "create_capture_token",
        "summary": "Create a capture token",
        "description": "Initialize or resume capture for an existing scan. Pass token and configuration to createCapture.\n\nRequired scope: `scans:update`.",
        "tags": [
          "Scans"
        ],
        "responses": {
          "401": {
            "description": "Missing, invalid, or expired bearer credential. Empty response body."
          },
          "403": {
            "description": "Required scope, venue access, or scan admission is unavailable. Empty response body."
          },
          "404": {
            "description": "Resource unavailable to this credential. Empty response body."
          },
          "422": {
            "description": "Invalid or missing request field. Empty response body."
          },
          "201": {
            "description": "Capture initialization data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaptureInitialization"
                }
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Create a capture token"
          }
        },
        "parameters": [
          {
            "name": "scan_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ScanId"
            },
            "description": "ID of the scan your backend created."
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Scoped organization API access token."
      }
    },
    "schemas": {
      "ScanId": {
        "type": "string",
        "description": "Scan or venue identifier.",
        "pattern": "^[0-9]+$",
        "example": "128000000000000001"
      },
      "CreatedScan": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ScanId"
          },
          "capture": {
            "$ref": "#/components/schemas/CaptureInitialization",
            "description": "Included when the credential has scans:update."
          }
        },
        "required": [
          "id"
        ]
      },
      "ScanSummary": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ScanId"
          },
          "venue_id": {
            "$ref": "#/components/schemas/ScanId"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "venue_id",
          "created_at"
        ]
      },
      "Verification": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "enum": [
              "DECISION_UNSPECIFIED",
              "DECISION_ACCEPT",
              "DECISION_REJECT",
              "DECISION_VERIFY"
            ],
            "description": "Verification decision under the venue\u2019s policy."
          },
          "integrity": {
            "type": "string",
            "enum": [
              "INTEGRITY_UNSPECIFIED",
              "INTEGRITY_FAKE",
              "INTEGRITY_POSSIBLY_FAKE",
              "INTEGRITY_REAL",
              "INTEGRITY_VERIFIED_REAL",
              "INTEGRITY_VERIFIED_FAKE"
            ],
            "description": "Document integrity assessment."
          },
          "of_age": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether the minimum-age check has passed. Null when no result is available."
          },
          "not_expired": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether the document-expiration check has passed. Null when no result is available."
          }
        },
        "required": [
          "decision",
          "integrity",
          "of_age",
          "not_expired"
        ]
      },
      "Document": {
        "type": "object",
        "properties": {
          "document_number": {
            "type": [
              "string",
              "null"
            ]
          },
          "document_type": {
            "$ref": "#/components/schemas/DocumentType"
          },
          "full_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "given_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "middle_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "surname": {
            "type": [
              "string",
              "null"
            ]
          },
          "date_of_birth": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "sex": {
            "type": [
              "string",
              "null"
            ]
          },
          "eye_color": {
            "type": [
              "string",
              "null"
            ]
          },
          "nationality": {
            "type": [
              "string",
              "null"
            ]
          },
          "issuing_authority": {
            "type": [
              "string",
              "null"
            ]
          },
          "issuing_country": {
            "type": [
              "string",
              "null"
            ]
          },
          "issuing_jurisdiction": {
            "type": [
              "string",
              "null"
            ]
          },
          "expiration_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "issue_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "address_line_one": {
            "type": [
              "string",
              "null"
            ]
          },
          "address_line_two": {
            "type": [
              "string",
              "null"
            ]
          },
          "city": {
            "type": [
              "string",
              "null"
            ]
          },
          "state_province_county": {
            "type": [
              "string",
              "null"
            ]
          },
          "postal_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "country": {
            "type": [
              "string",
              "null"
            ]
          },
          "height_in": {
            "type": [
              "integer",
              "null"
            ]
          },
          "weight_lb": {
            "type": [
              "integer",
              "null"
            ]
          }
        }
      },
      "CaptureInitialization": {
        "type": "object",
        "required": [
          "token",
          "expires_at",
          "configuration"
        ],
        "properties": {
          "token": {
            "type": "string",
            "description": "Pass to createCapture as token."
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "configuration": {
            "type": "string",
            "description": "Pass unchanged to createCapture as configuration."
          }
        }
      },
      "Scan": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ScanId"
          },
          "venue_id": {
            "$ref": "#/components/schemas/ScanId"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "phase": {
            "type": "string",
            "enum": [
              "PHASE_SELECTING_COUNTRY",
              "PHASE_SELECTING_DOCUMENT",
              "PHASE_CAPTURING",
              "PHASE_PROCESSING",
              "PHASE_COMPLETE"
            ]
          },
          "verification": {
            "$ref": "#/components/schemas/Verification"
          },
          "document": {
            "$ref": "#/components/schemas/Document"
          },
          "lists": {
            "type": "array",
            "description": "Matching Lists entries available to this credential.",
            "items": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "enum": [
                    "KIND_UNSPECIFIED",
                    "KIND_BANNED",
                    "KIND_VIP"
                  ]
                },
                "notes": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "status",
                "notes"
              ]
            }
          },
          "identity": {
            "$ref": "#/components/schemas/Identity"
          }
        },
        "required": [
          "id",
          "venue_id",
          "created_at",
          "phase"
        ]
      },
      "Identity": {
        "type": "object",
        "description": "Identity details available from the scan\u2019s enabled checks.",
        "properties": {
          "aliases": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "full_name": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "given_name": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "middle_name": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "surname": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "kind",
                "full_name",
                "given_name",
                "middle_name",
                "surname"
              ]
            }
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "address_line_one": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "address_line_two": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "city": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "state_province_county": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "postal_code": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "country": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "kind",
                "address_line_one",
                "address_line_two",
                "city",
                "state_province_county",
                "postal_code",
                "country"
              ]
            }
          },
          "contacts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "value": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "kind",
                "value"
              ]
            }
          },
          "demographics": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "value_date": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "date"
                },
                "value_int": {
                  "type": [
                    "integer",
                    "null"
                  ]
                },
                "value_text": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "kind",
                "value_date",
                "value_int",
                "value_text"
              ]
            }
          },
          "educations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "school_name": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "degrees": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "majors": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "minors": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "gpa": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "started_on": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "date"
                },
                "ended_on": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "date"
                },
                "summary": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "kind",
                "school_name",
                "degrees",
                "majors",
                "minors",
                "gpa",
                "started_on",
                "ended_on",
                "summary"
              ]
            }
          },
          "employments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "started_on": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "date"
                },
                "ended_on": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "date"
                },
                "summary": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "employer": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "linkedin_url": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "website": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "type": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "size": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "address_line_one": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "address_line_two": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "city": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "state_province_county": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "postal_code": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "country": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "name",
                    "linkedin_url",
                    "website",
                    "type",
                    "size",
                    "address_line_one",
                    "address_line_two",
                    "city",
                    "state_province_county",
                    "postal_code",
                    "country"
                  ]
                },
                "role": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "category": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "levels": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "title",
                    "category",
                    "levels"
                  ]
                }
              },
              "required": [
                "started_on",
                "ended_on",
                "summary",
                "employer",
                "role"
              ]
            }
          }
        },
        "required": [
          "aliases",
          "addresses",
          "contacts",
          "demographics",
          "educations",
          "employments"
        ]
      },
      "DocumentType": {
        "type": "string",
        "enum": [
          "TYPE_UNSPECIFIED",
          "TYPE_UNKNOWN",
          "TYPE_DRIVERS_LICENSE",
          "TYPE_ENHANCED_DRIVERS_LICENSE",
          "TYPE_STATE_ID",
          "TYPE_PASSPORT_BOOK",
          "TYPE_PASSPORT_CARD",
          "TYPE_PERMANENT_RESIDENT_CARD",
          "TYPE_EMPLOYMENT_AUTHORIZATION_CARD",
          "TYPE_GLOBAL_ENTRY_CARD",
          "TYPE_MILITARY_ID",
          "TYPE_VISA",
          "TYPE_OTHER_TRAVEL_DOCUMENT",
          "TYPE_MOBILE_DOCUMENT"
        ]
      }
    }
  }
}
